<div class="well">
  <h3>Make a bet for this round.</h3>

  <h4><%= session[:player_name] %> has $<%= session[:player_pot].to_i %></h4>

  <form action='/bet' method='post'>
    <input type="text" name="bet_amount" placeholder="Enter your bet!">
    <br>
    <input type="submit" value="Make a bet" class="btn btn-warning">
  </form>
</div>